swap_Hotbar1=true,direct_Hotbar1=true,swap_Hotbar2=true,direct_Hotbar2=true,swap_Hotbar3=true,direct_Hotbar3=true,swap_Hotbar4=true,direct_Hotbar4=true,swap_Hotbar5=true,direct_Hotbar5=true,swap_Hotbar6=true,direct_Hotbar6=true,swap_Hotbar7=true,direct_Hotbar7=true,swap_Hotbar8=true,direct_Hotbar8=true,swap_Hotbar9=true,direct_Hotbar9=true,swap_Hotbar10=true,direct_Hotbar10=true,swap_Hotbar11=true,direct_Hotbar11=true,swap_Hotbar12=true,direct_Hotbar12=true,swap_Hotbar13=true,direct_Hotbar13=true,swap_Hotbar14=true,direct_Hotbar14=true,swap_Hotbar15=true,direct_Hotbar15=true,